*{
    font-family: 'Roboto', sans-serif;
}

.blog .carousel-indicators{
    bottom: -40px;
}
.fa-fire{
    font-size: 1.7rem;
    color: red;
}
/*Change color of Carousel*/
.blog .carousel-indicators li{
    background-color: #a3a3a3;
}
.blog .carousel-indicators li.active{
    background-color: #322348;
}